html, body {
    height: 100%;
}

body {
    background-color: #e31c1c;
    border: 0;

}

nav {
    position: fixed;
    margin: 0;
    border: 0;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    height: 5%;
}

nav ul {
    border: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    padding-left: 15%;
}

#landing-page-background {
   position: relative;
   background-color: #e31c1c;
   margin: 0;
   bottom: 0;
   height: 90%;
}

#landing-page-whitebox {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    background-color: #fff;
    width: auto;
    height: 50%;
}

#designer-clothing-text {
    position: absolute;
    top: -11%;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}

#image-is-everything-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
}

#image-is-everything-text span {
    color: #e31c1c;
}

#landing-page-logo {
    width: 300px;
}

.red-spacer {
    background-color: #e31c1c;
    width: 100%;
    min-height: 100px;
}

#mens-clothing {
    background-color: #fff;
    width: 100%;
    min-height: 300px;
}