
/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;800;900&display=swap');


html, body {
    height: 100%;
}

/* element styling*/

h2, p, label, input{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}   

h2 {
    font-weight: 700;
}

p {
    font-size: 13px;
}

figcaption {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: black;
    background-color: pink;
    font-size: 12px;
    margin-right: 0;
}





body {
    border: 0;
    margin: 0;
}

/* navigation element styling*/

nav ul {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 0;
    border: 0;
    z-index: 3;
    background-color: #e31c1c;
    width: 100%;
    height: auto;
}

nav li {
    float: left;
    display: block;
    margin-left: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

/* navigation links styling*/

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
    color: #e31c1c;
}




/* Navigation alignment problem
nav li {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}



nav li {
    display: inline;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    padding-left: 13%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}




.retailers {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.audio {
    float: right;
}
*/

/* Landing Page */

#landing-page-background {
   position: relative;
   background-color: #e31c1c;
   margin: 0;
   top: 0;
   height: 110%;
}

#landing-page-whitebox {
    position: absolute;
    bottom: 0;
    left: 14%;
    right: 30%;
    background-color: #fff;
    width: auto;
    height: 65%;
}

#designer-clothing-text {
    position: absolute;
    top: -53px;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

#image-is-everything-text {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;

}

#image-is-everything-text span {
    display: block;
    color: #e31c1c;
    margin: 2px;
    width:  auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

#landing-page-logo {
    margin-left: 15px;
    width: 280px;
}

/* Red spacer and classes */

.red-spacer {
    background-color: #e31c1c;
    width: 100%;
    min-height: 200px;
}

/* Mens clothing page*/

#mens-clothing-background {
    background-color: grey;
    width: 100%;
    min-height: 100%;
}

#mens-clothing-text {
    position: relative;
    border: 3px solid green;
    padding: 10px;
}

#mens-clothing-text h2 {
    position: absolute;
    top: -55px;
    display: block;
    color: black;

}

#mens-clothing-image {
    border: 3px solid blue;
    padding: 10px;
}

#mens-clothing-image img {
    width: 30%;
    max-height: 479px;
    max-width: 561px;
}

.collection-logo img {
    width: 30%;
    max-height: 137px;
    max-width: 519px;
}

/* Reailers section*/

#retailers {
    background-color: red;
    width: 100%;
    min-height: 100%;
}

#rose-image img {
width: 30%;
max-height: 568px;
max-width: 430px;
}

/* Sign Up section */

#sign-up-container {
    background-color: #e31c1c;
}

.input-container {
    background-color: #fff;
    margin-top: 30px;
    width: 90%;
}

/* Resizing of landing page for larger screens - currently not working

@media only screen and (max-width: 600px) and (min-width:400px){

    #landing-page-whitebox {
        position: absolute;
        bottom: 0;
        left: 2%;
        right: 10%;
        background-color: #fff;
        width: auto;
        height: 60%;
    }
}

*/
@media only screen and (max-width: 600px) and (min-width:100px){
/* Image Resizing */
#landing-page-whitebox {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    background-color: #fff;
    width: auto;
    height: 65%;
}

    #mens-clothing-image img {
        width: 100%;
    }

    #mens-clothing-image {
        position: relative;
        border: 0;
        padding: 0;
    }

    .collection-logo img {
        width: 80%;  
      }
    
    #rose-image img {
        width: 80%;
        }
}

